{% extends 'base.html.twig' %}

{% block title %}Nos Voyages solidaires
{% endblock %}

{% block body %}


	<div class="row">
		<div>
			<img src="/img/Chantal_formation.png" alt="Formation avec Chantal" class="img_formation">
		</div>
		<h1 class="title p-1 text-center">Nos Voyages Solidaires</h1>
		<div class="col-md-8">
			<div class="row">
				{% for article in articles %}

					<div class="card mb-3">
						<h3 class="card-header">{{article.title}}
							- Du
							{{article.depart| date("d/m/Y")}}
							au
							{{article.retour| date("d/m/Y")}}</h3>
						<div class="card-body"></div>
						<img class="card-img-top" src="/assets/blog/images/{{article.image}}" alt="{{article.title}}">
						<div class="card-body">
							<h5>{{article.introduction}}</h5>
							<a href="{{path('show', {'id':article.id})}}" class="btn btn-primary">
								<h2>{{article.price}}
									€</h2>
							</a>
							<a href="{{path('show', {'id':article.id})}}" class="btn btn-primary">En savoir plus</a>
						</div>

						<div class="card-body"></div>
						<div class="card-footer text-muted"></div>
					</div>

				{% endfor %}
			</div>
		</div>
		<div class="col-md-4">
			<h2>Catégories</h2>
			<ul class="list-group">
				{% for category in categories %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="{{path('show_article',{'id':category.id})}}">
							{{category.title}}
							<span class="badge bg-primary rounded-pill">{{category.articles | length}}
								voyage(s)</span>
						</a>
					</li>
				{% endfor %}


			</ul>
		</div>


	</div>

{% endblock %}
