{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<style>

</style>
<body>
    <!-- BLOC 1 ! -->
    <!-- Image bloc 1 -->
    <section id="bloc1">
        <div id="header">
            <img src="{{"../images/TCS_Site_Tri_038.jpg"}}" alt="homme en train de peindre">
        </div>
    <!-- Texte bloc 1 -->
        <div id="intro">
            <p class="bold">L’association créée le 1er février 2013 est un simple maillon, un outil, un facilitateur. </p>
            <p>Écouter les besoins et ne pas imposer ses choix et ses préférences liés au cadre de pensées européennes.</p>
        </div>
    </section>
    <!-- dicton Association -->
        <div id="citation">
            <h2 >" Faire avec mais pas à la place de "</h2>
        </div>
    <!-- BLOC 2 ! -->
    <section id="bloc2">
        <img id="mosaique" src="{{"../images/TCS_Site_Tri_065.jpg"}}" alt="mosaïque représentant le continent africain">
        <div class="vertpale">
            <p class="bold">Sur place,  on prend  le temps d’écouter les besoins de la population locale.</p>
            <p>Ce tissage entre les deux continents est une vraie force avec un représentant local, Ibrahima SARR, qui suit tous les projets au plus près afin d’optimiser leur réussite et la présence au Sénégal durant de nombreux mois de la présidence de TCS .</p>
            <p>Une action ne peut réussir que si les habitants se l’approprient et en deviennent les réels acteurs. Dans notre démarche d’accompagnement, nous sommes attachés à toute action qui favorise la création d’emplois durables.</p>
            <p>Les thématiques autour de l’éducation, de la création d’emplois, de l’environnement et de la santé sont des priorités.</p>
        </div>
    </section>
    {# div greenlion #}
    <div class="greenlion">
        <img class="logovert" src="{{"../images/logovert.png"}}" alt="logo association terres et cultures solidaires">
    </div>
    <!-- BLOC 3 -->
    <section class="bloc3">
    <h3 class="h2_bloc3">NOTRE HISTOIRE</h3>
        <!-- Haut bloc 3 -->
        <div id="haut_bloc3">
                <div class="text1_bloc3">
                    <p>C’est après différents séjours en Afrique (Cameroun, Sénégal) que <span class="bold">Chantal</span> a découvert cette région et s’est immergée dans le tissu social et économique de cette partie du Sine Saloum.</p>
                </div>
                <div class="img1_bloc3">
                    <img src="{{"../images/TCS_Site_Tri_197.jpg"}}" alt="">
                </div>
                <div class="text2_bloc3">
                    <p>En France, autour de l’association est également née une belle chaîne de solidarité qui a permis la mise en route de multiples projets réalisés dès la première année. </p> 
                </div>
        </div>
        <!-- Bas bloc 3 -->
        <div id="bas_bloc3">
            <div class="img2_bloc3">
                <img src="{{"../images/Membres_001.jpg"}}" alt="">
            </div>
            <div class="text3_bloc3">
                <p>Avec un groupe d’amis et de proches, l’association est née. Sur place très vite un réseau dynamique de partenaires s’est formé et s’est très rapidement développé. Aujourd’hui, il est une base solide sur laquelle l’association s’appuie pour la mise en place des projets.</p>
            </div>
            <div class="img3_bloc3">
                <img src="{{"../images/TCS_Site_Tri_222.jpg"}}" alt="">
            </div>
        </div>
    </section>
    {# Bloc 4 #}
    <section id="bloc4">
        <div class="gauche_bloc4">
            <p><span class="fontsize">Vous</span> pouvez nous rejoindre en tant que membre adhérent en réglant une cotisation annuelle actuellement fixée à 15 euros.</p>
            <p><span class="fontsize">Vous</span> pouvez devenir membre soutien en apportant votre participation en versant un montant actuellement fixé à 120 euros minimum par an, soit 10 euros minimum par mois.</p>
            <p><span class="fontsize">Vous</span> pouvez devenir membre bienfaiteur en  apportant votre concours financier pour un montant de 240 euros minimum (annuellement), soit 20 euros minimum par mois.</p>
        </div>
        <div class="milieu_bloc4">
            <span class="etremembre"><h2>ÊTRE MEMBRE</h2></span>
            <img id="imghaut_bloc4" src="{{"../images/TCS_Site_Tri_007.jpg"}}" alt="">
            <img id="imgbas_bloc4" src="{{"../images/TCS_Site_Tri_036.jpg"}}" alt="">
        </div>
    </section>
    <section class="bloc5">
        <div class="haut_bloc5">
            <img id="img_bloc5" class="rounded" src="{{"../images/TCS_Site_Tri_066.jpg"}}" alt="centre xamxamle">    
            <h2 id="titre_bloc5">BUREAU</h2>
        </div>
        <section class="milieu_bloc5">
            <div class="milieu_bloc5_gauche">
                <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="auto"
                    width="1240"
                    height="964"
                    poster="le_centre_Xam-Xamlé_vu_du ciel.mp4"
                    data-setup="{}"
                >
                    <source src="{{"../images/le_centre_Xam-Xamlé_vu_du ciel.mp4"}}" type="video/mp4" />
                    <source src="{{"../images/le_centre_Xam-Xamlé_vu_du ciel.mp4"}}" type="video/webm" />
                    <p class="vjs-no-js">
                    <a href="https://videojs.com/html5-video-support/" target="_blank"></a>
                    </p>
                </video>
            </div>
            <div class="milieu_bloc5_droite">
                <p class="bold">Lors de son assemblée générale d'octobre 2016, </p>
                <p>l'Association a réorganisé ses statuts avec un conseil d'administration dans lequel siègent notre représentant local au Sénégal et un bureau directeur. Elle a également un bureau de développement composé à 100 % de locaux ce qui permet d’être au plus près des besoins et de la population. De ce bureau est né le Grenier des initiatives locales pour le développement (GILD), une association de droits sénégalais.</p>
                <p>Ce sont nos deux associations qui aujourd’hui portent conjointement notre projet « professionnalisation des femmes des GIE » afin de favoriser l’entrepreneuriat féminin.</p>
            </div>
        </section>
        <section class="bas_bloc5">
            <div class="bas_bloc5_gauche">
                <h2 id="obj">L'objectif de cette réorganisation est de permettre aux acteurs sénégalais d'être "aux manettes" des projets.</h2>
            </div>
            <div class="bas_bloc5_droite">
                <img id="arbre" src="{{"../images/arbreRecurso64x.png"}}" alt="dessin vectoriel d'un arbre">
            </div>
        </section>
    </section>
</body>
{% endblock %}
